* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

nav {
    padding: 20px 0;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav div {
    width: 20%;
}

nav div img {
    width: 100%;
}
nav .popup{
    padding: 20px 0;
    width: 25%;
    /* border: 1px solid red; */
    float: right;
}
nav .popup h4{
    /* border: 1px solid red; */
    float: right;
    padding-right: 20px;
    cursor: pointer;
    color: #666;
    font-size: 18px;
}

.popup .boxpopup {
    visibility: hidden;
    width: 260px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: white;
    color: #000;
    padding: 15px 20px 25px 20px;
    position: absolute;
    cursor: default;
}
.popup:hover .boxpopup{
    visibility: visible;
}

.popup .boxpopup p {
    padding: 20px 0px;
    font-size: 14px;
}

.popup .boxpopup .logincss:hover{
   background-color: #f2ce00;
}

.popup .boxpopup .logincss {
    width: 100%;
    padding: 14px 0;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #ffda00;
}
#ifUserIn{
    display: none;
}